.fitcheck-test p img {
    max-width: 75% !important;
    height: auto !important;
    margin-bottom: .25rem;
}

.fitcheck-resultform label {
    font-weight: 500 !important;
}

.fitcheck-classtable #assignedcell,
.fitcheck-classtable #unassignedcell {
    width: 42%;
}

.fitcheck-classtable #buttonscell {
    width: 16%;
}

.fitcheck-classtable td {
    vertical-align: top;
    padding: .2em .3em;
}

.fitcheck-classtable tr {
    background-color: rgba(0,0,0,.05);
}

.fitcheck-classtable p {
    margin: .2em 0;
}

.fitcheck-classform .form-group {
    margin-left: .3em;
}

.fitcheck-classform div[class*="label-class"] {
    padding-left: 0;
}

.thumbnail-empty {
    position: relative;
    background-color: #DDD;
}

.thumbnail-empty img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 0;
}

.card-body span {
    font-size: 0.8em;
    color: #777;
}

.gradetable {
    margin: auto;
}

.gradetable th {
    min-width: 80px;
}

.gradetable td {
    min-width: 150px;
}

.gradetable,
.gradetable td,
.gradetable th {
    border: 1px solid #8f959e;
}

#gradeselect {
    display: flex;
    margin: auto;
}

.listtable {
    margin-top: 1.25rem;
}

.printresulttable {
    border-collapse: collapse;
}

.printresulttable th,
.printresulttable td {
    border: 1px solid #000;
}

th[class*="cborderbottom-thick"] {
    border-bottom: 2px solid #000;
}

div[class*="testchart-"] {
    max-height: 600px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

video.examplevideo {
    max-width: 750px;
}

.editedcell {
    background-color: #FFE4B5;
}

.background-select-container {
    background-color: rgba(0,0,0,.05);
}

.btn-deleteendyear {
    white-space: normal;
}

.generaltable.editresultstable thead th {
    text-align: left;
}

@media (min-width: 1200px) {
    .gradetable {
        font-size: 17px;
    }
    .gradetable th {
        min-width: 100px;
    }
    .gradetable td {
        min-width: 170px
    }
}

@media (max-width: 991.98px) {
    div[class*="testchart-"] {
        max-height: 400px;
        max-width: 600px;
    }
}

@supports (-webkit-touch-callout: none) {
    #addcontrols {
        margin-top: 0.2em;
        margin-bottom: 2.6em;
    }
}